<div class="container-fluid mt-5">
   <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-11"></div>
  </div>
  
  <div class="container-fluid mt-5">

   <div class="row">

    <div class="col-sm-2">
       <div class="navbar bg-light navbar-dark">
        <ul class="nav flex-column">
           {{#if user}}
          {{#if user.isAdmin}}
          <li class="nav-item">
            <a class="nav-link" href="/intranet/admin-dashboard">Return to your dashboard</a>
            </li>
            {{else}}
            <li class="nav-item">
            <a class="nav-link" href="/profile/profile-home">Return to your profile</a>
            </li>
            {{/if}}
            {{/if}}
        </ul>
       </div>
    </div>

    <div class="col-sm-6">
<section>
   <form action="/profile/update-password" method="POST">
   <fieldset>
      <legend class="h2">Modify your password</legend>
      <label> Old Password
      <input 
      type="password" 
      name="oldPassword" autofocus>
   </label>
      <label> New Password
      <input 
      type="password" 
      name="newPassword">
      <small> the password has 8 characters minimum, letters and numbers  </small>
   </label>
   <br>
   <button type="submit">Modify your password</button>
   </fieldset>
</form>

{{#if errorMessage}}
  <p style="color:red">{{errorMessage}}</p>
{{/if}}
</section>
    </div>
    </div>
   </div>