<nav class="nav-bar">
   <ul class="nav-bar-ul">   
       <li> <a class="nav-bar-item" href="/profile/profile-home">Return to your profile</a></li>


<section>
   <form action="/profile/update-password" method="POST">
   <fieldset>
      <legend>Modify your password</legend>
      <label> Old Password
      <input 
      type="password" 
      name="oldPassword" autofocus>
   </label>
    <legend>Modify your password</legend>
      <label> New Password
      <input 
      type="password" 
      name="newPassword">
      <small> the password has 8 characters minimum, letters and numbers  </small>
   </label>
   <br>
   <button type="submit">Modify your password</button>
   </fieldset>
</form>

{{#if errorMessage}}
  <p style="color:red">{{errorMessage}}</p>
{{/if}}
</section>