<nav class="nav-bar-profile">
   <ul class="nav-bar-ul-profile">      
   {{#if user}}
   <h1>Hello 
    {{user.userName}} !
   </h1>
   <h1>Welcome on our request tool!</h1>
<p>You can contact us to send an order, 
    ask further information on our product or whatever matters to you</p>   

   {{else}}
   <h1>Welcome on our request tool!</h1>
<p>You can contact us to send an order, 
    ask further information on our product or whatever matters to you</p>   

    {{/if}}
      </ul>
   </nav>