<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      {{!-- <title>{{title}}</title> --}}
      <title>Flavoral App</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

<div>
<img id="logo" src="/images/logo flavoral international.jpg" alt="">
</div>
<nav class="nav-bar">
   <ul class="nav-bar-ul">      
   <li> <a class="nav-bar-item" href="/">Home</a></li>

    {{#if user}}

      {{#if user.isAdmin}}

      <li> <a class="nav-bar-item" href="/auth/logout">Logout</a></li>

      {{else}}

      <li> <a class="nav-bar-item" href="/auth/logout">Logout</a></li>
      <li> <a class="nav-bar-item" href="/profile/profile-home">Profile</a></li> 

      {{/if}}

   {{!-- IF IT'S NOT A USER --}}
    {{else}}
   <li> <a class="nav-bar-item" href="/auth/signup">Sign Up</a></li>
   <li> <a class="nav-bar-item" href="/auth/login">Log In</a></li>
   
      {{/if}}
      </ul>
   </nav>

   <body>

      {{{body}}}

      <script src="/js/script.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>
   </body>

</html>