body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

fieldset {
  margin: 2em 0;
  padding: 1em 2em;
  border: solid 1px #ccc;
  border-radius: 6px;
  min-width: 200px;
}
legend {
  font-size: 1.25em;
  padding: 0 0.25em;
  color: #999;
}

form {
  margin-top: 4em;
}

label {
  display: block;
  margin-top: 1em;
}
