<section>
   <form action="/intranet/login" method="POST">
   <fieldset>
      <legend>Intranet Log In</legend>
   <label> Email
      <input type="text" name="email">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>
<br>
   <button type="submit">Submit</button>
   </fieldset>
</form>
{{#if errorMessage}}
  <p style="color:red">{{errorMessage}}</p>
{{/if}}
</section>


   
